.container {
    display: grid;
    grid-template-columns: 1fr 1fr;

    max-width: 70vw;
    height: 100vh;
    

    margin: auto;
}

.container-left,
.container-right {
    display: flex;
    align-items: center;
    align-content: center;

    margin: auto;
}

