.body-page {
    display: flex;
    flex-direction: row;
    align-content: space-between;

    width: 100vw;
    padding: 150px 200px;
}

@media (max-width: 700px) {
    .body-page {
        flex-direction: column;
        padding: 10px 30px;
    }
}